<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title (click)="onSelect(book)">{{book?.title}}</md-card-title>
    <md-card-subtitle>{{book?.author}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/images/defbookcover.jpg">
  <md-card-content>
    <div class="priceWrapper" *ngIf="book?.price > average; else normalPrice">
      <div>
        <p class="original-price">{{book?.price | currency : 'USD' : true}}</p>
        <p class="discount-price">{{book.price | discount: discount | currency : 'USD' : true}}</p>
      </div>
      <p class="discount-percentage">{{discount}}%</p>
    </div>
    <ng-template #normalPrice>
      <p class="normal-price">{{book?.price | currency : 'USD' : true}}</p>
    </ng-template>
    <button md-raised-button class="addToCartButton" color="primary" *ngIf="authService.isLoggedIn()" (click)="cartService.addItem(book)">Add to cart</button>
  </md-card-content>
  <div class="clear"></div>
</md-card>