md-card {
  width:350px;
  margin: 15px;
  padding: 10px;

  img {
    margin-left:10px;
    float:left;
    width: 100px;
    height: 130px;
  }

  md-card-title {
    font-size:18px;
    &:hover {
      cursor:pointer;
      text-decoration: underline;
    }
  }

  md-card-content {
    margin-left:130px;
    width: 200px;
  }
  .priceWrapper {
    p {
      margin: 5px;
    }

    .original-price{
      text-decoration: line-through;
    }

    .discount-price {
      font-size: larger;
    }

    .discount-percentage {
      color: red;
      font-size: x-large;
      margin: 10px 0 0 20px;
    }
  }
  .clear {
    clear:both;
  }

  button {
    margin-top: 15px;
  }
}