<ngb-carousel>
  <ng-template ngbSlide *ngFor="let image of images;">
    <div class="news-highlight">
      <img class="news-highlight-img img-fluid" src="{{image.url}}" alt="{{image.title}}">
    </div>
    <div class="carousel-caption">
      <h3>{{image.title}}</h3>
    </div>
  </ng-template>
</ngb-carousel>