.cartContainer {
  width: 1200px;
  margin:0 auto;
  background-color: #DD2C00;
}

.cartWrapper {
  position:absolute;
  background-color: white;
  width:400px;
  max-height:280px;
  z-index:10;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  top:62px;
  margin-left:800px;
  user-select: none;

  .title{
    border-bottom:1px solid #000;
    padding:2px;
    text-align: center;
    p {
      display:inline;
    }
    .closeCart {
      float:right;
      text-align: right;
      height:10px;
      padding:0;
      margin: -1px 3px 0 0;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .cartItemContainer{
    height:180px;
    max-height: 180px;
    overflow-y: auto;
    border-bottom:1px solid #000;
    margin-bottom:2%;
  }

  .cartItem {
    display:block;
    vertical-align: middle;
    font-size: 16px;
    padding: 2px;
    border-bottom: 1px solid #000;

    span {
      display: inline-block;

      &:nth-child(1) {
        width:180px;
      }
      &:nth-child(3) {
        width: 15px;
      }
      &:nth-child(5) {
        margin-left:10px;
        font-weight:bold;
        width:70px;
      }
      &:nth-child(6) {
        margin-left:10px;
      }
    }
    .material-icons {
      font-size:18px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  p {
    text-align: center;
  }

  .checkoutButton {
    background-color: #4CAF50;
    padding:5px;
    color: white;
    border: none;
    margin-top: -20px;
    &:hover{
      background-color: darken(#4CAF50,10%);
      cursor:pointer;
    }
  }
}

.totalCost{
  font-size:14px;
  span {
    font-weight: bold;
  }
}

.cartWrapperTriangle {
  position:absolute;
  z-index:100;
  top:49px;
  margin-left: 960px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}

.clear {
  clear:both;
}