<div class="cartContainer" *ngIf="cart.length > 0">
  <div class="cartWrapperTriangle"></div>
  <div class="cartWrapper">
    <div class="title"><p>Current items in cart</p><span class="material-icons closeCart" (click)="closePopup()">clear</span></div>
    <div class="cartItemContainer">
      <div class="cartItem" *ngFor="let item of cart">

        <span> {{item.book.title}} </span>

        <span class="material-icons" (click)="decreaseQuantity(item)">remove</span>

        <span *ngIf="item.quantity >= 0"> {{item.quantity }}</span>

        <span class="material-icons" (click)="increaseQuantity(item)">add</span>

        <span> {{item.book.price | currency: 'USD' : true}}</span>

        <span class="material-icons" (click)="removeItemFromCart(item)">cancel</span>
      </div>
    </div>
    <p class="totalCost">Total cost: <span>{{cartService.getTotalCost() | currency : "USD" : true}}</span></p>
    <p><button md-raised-button class="checkoutButton" appConfirmCheckout>Checkout</button></p>
  </div>

</div>