<div class="mapsContainer">
  <sebm-google-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>
</div>

<div class="formWrapper">
  <h2>Feedback</h2>
  <form (ngSubmit)="onSubmit()"  #contactForm="ngForm">
       <div class="formRow">
          <md-input-container>
            <input mdInput type="text" id="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Name" required />
          </md-input-container>

          <md-input-container>
            <input mdInput type="email" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="E-mail" required />
          </md-input-container>

          <md-input-container>
            <input mdInput type="text" placeholder="Telephone" [(ngModel)]="telephone" [ngModelOptions]="{standalone: true}" id="telephone" />
          </md-input-container>
       </div>
       <div class="formRow">
          <md-input-container>
            <textarea mdInput cols="50" rows="5" placeholder="Message" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" required></textarea>
          </md-input-container>
       </div>

       <input type="submit" value="Send" class="formSubmit" [disabled]="!name || !email || !telephone || !message" />
       <input type="reset" name="clear" class="formReset" value="Clear" />

  </form>
</div>
