@formSubmitColor: #4CAF50;
@formResetColor: #40C4FF;

.mapsContainer{
  width: 80%;
  margin: 0px auto;
  border: 1px solid #aaa;
}

.sebm-google-map-container {
  height: 500px;
}

.formWrapper{
  text-align: center;
  margin: 0 auto;
  width: 80%;
  h2{
    font-size: 30px;
    letter-spacing: 5px;
  }
  .formRow{
    margin: 2% 0;
    md-input-container{
      width: 20%;
      margin: 0 5%;
    }
  }
  .formRow:nth-child(2){
    md-input-container{
      width: 80%;
    }
  }

  .formReset, .formSubmit{
    display: inline-block;
    padding: 1% 2%;
    margin: 0 2% 5% 2%;
    background-color: @formSubmitColor;
    color: white;
    border: none;
    border-radius: 5px;
    &:hover{
      background-color: darken(@formSubmitColor,10%);
      cursor:pointer;
    }
  }

  .formReset{
    background-color: @formResetColor;
    &:hover{
      background-color: darken(@formResetColor,10%);

    }
  }
}