<div id="login-component">
  <div *ngIf="!(authService.isLoggedIn())">
    <form (submit)="logIn()">
        <md-input-container>
          <input mdInput type="text" name="inputName" [(ngModel)]="inputName" placeholder="Username" />
        </md-input-container>
        <md-input-container>
          <input mdInput type="password" name="password" [(ngModel)]="password" placeholder="Password" />
        </md-input-container>
        <button md-raised-button type="submit" class="top-button">Log in</button>
    </form>
    <p class="tooltip">
      No account? <a routerLink="/register" class="registerLink" routerLinkActive="active">Register</a>
    </p>
  </div>

  <div *ngIf="authService.isLoggedIn()">
    <div class="loggedInUser">
      <p class="title">Welcome, {{authService.getUser()?.name}}!</p>
      <app-cart></app-cart>
      <button md-raised-button class="top-button" (click)="logOut()">Log out</button>
    </div>

  </div>
</div>
