@buttonColor: #DD2C00;

#login-component {
  display: flex;
  flex-direction: column;
  width:400px;
  margin-left: 20px;
  form {
    display: inline-block;
    flex-direction: column;
    md-input-container {
      width: 100px;
      font-size: 16px;
      color: white;
      margin-left: 10px;
    }
  }
  p.tooltip {
    display:inline-block;
    width:100px;
    margin-left: 20px;
    .registerLink {
      color:white;
      font-style: italic;
    }
  }

  button {
    margin-left: 15px;
    background-color: #DD2C00;
    &:hover {
      background-color: darken(#DD2C00,10%);
    }
  }

  .loggedInUser {
    display: inline-block;
    flex-direction: column;
    width:400px;
    margin-left: 30px;
    p.title {
      display: inline-block;
      width: 300px;
    }
    .top-button {
      margin-left: 50px;
    }
  }

}