.contentWrapper {
  display:flex;
  flex-direction: row;
  width: 100%;
  .articleContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
    .article {
      margin: 10px auto;
      width: 100%;
      box-sizing: border-box;
      span {
        display: block;
        margin: 5px 0;
      }
      .title {
        font-weight: bold;
        font-size:20px;
        margin-bottom: 20px;
      }
      .date {
        float:right;
        font-size: 12px;
        font-style: italic;
      }
    }
    h2 {
      text-align: center;
    }
  }

  .viewedBooksContainer {
    display:flex;
    flex-direction: column;
    width: 40%;
    border-left: 1px solid #e5e5e5;
    .book {
      width: 70%;
      margin: 5px auto;
    }
    .left {
      width: 30%;
      float:left;
      img {
        display:inline-block;
        width: 80px;
        height: 120px;
      }
    }
    .right {
      margin-left: 32%;
      span {
        display:block;
        margin: 5px 0;
        &.title {
          font-weight: bold;
          font-size: 16px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

      }
    }
    h2 {
      text-align: center;
    }
  }
}
