<div class="contentWrapper">
  <div class="articleContainer">

    <app-carousel id="carousel-container"></app-carousel>

    <md-card class="article" *ngFor="let article of news">
      <span class="title">{{article.title}}</span>
      <span class="content">{{article.text}}</span>
      <span class="date">{{article.date | date}}</span>
    </md-card>
  </div>

  <div class="viewedBooksContainer" *ngIf="authService.isLoggedIn() && books.length > 0">
    <h2>Recently viewed books:</h2>
    <md-card class="book" *ngFor="let book of books">
      <div class="left">
        <img src="assets/images/defbookcover.jpg" class="md-card-image" alt="cover photo" />
      </div>
      <div class="right">
        <a (click)="goToDetails(book.id)"><span class="title">{{book.title}}</span></a>
        <span class="category">Category: {{book.category}}</span>
        <span class="price">Price: {{book.price | currency : 'USD' : true}}</span>
      </div>
    </md-card>
  </div>
</div>