a {
  text-decoration: none;
  color:#e5e5e5;
  .cartIconWrapper {
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    span {
      font-size: 35px;
      position: relative;
    }

    .numberOfItems {
      position: absolute;
      margin: 15px 0 0 -15px;
      background-color: #DD2C00;
      padding: 4px 10px;
      border-radius: 10px;
      font-size: 12px;
    }
  }
}