<a (click)="toggleOutlet()">
  <div class="cartIconWrapper">
    <span class="material-icons">shopping_cart</span>
    <span *ngIf="cartService.getTotalNumOfItems() > 0" class="numberOfItems">{{cartService.getTotalNumOfItems()}}</span>
  </div>
</a>
