<div class="about" style="text-align: center;">
  <img src="../../../assets/images/book-store.jpg" alt="book-store" [@slideInDownAnimation]="true" />
</div>

<div class="aboutContainer">
  <p class="title">Catering to your requirements, handling your needs with care</p>
  <div class="content">
    Our store is more than just another average online retailer. We sell not only top quality products, but give our customers a positive online shopping experience. Forget about struggling to do everything at once: taking care of the family, running your business, walking your dog, cleaning the house, doing the shopping, etc. Purchase the goods you need every day or just like in a few clicks or taps, depending on the device you use to access the Internet. We work to make your life more enjoyable.
  </div>
  <p class="title">Store events</p>
</div>



<div class="eventContainer">
  <app-store-events image="assets/images/search.png" title="for convenience of choice" content="
  We think about the convenience of your choice. Our products are supplied with star rating that should help hesitant buyers to take a decision. What’s more, you can search our site if you know exactly what you are looking for or use a bunch of different filters that will considerably save your time and efforts.
  "></app-store-events>
  <app-store-events image="assets/images/car.png" title="delivery to all regions" content="
  We deliver our goods worldwide. No matter where you live, your order will be shipped in time and delivered right to your door or to any other location you have stated. The packages are handled with utmost care, so the ordered products will be handed to you safe and sound, just like you expect them to be.
  "></app-store-events>
  <app-store-events image="assets/images/like.png" title="the highest quality of products" content="
  We guarantee the highest quality of the products we sell. Several decades of successful operation and millions of happy customers let us feel certain about that. Besides, all items we sell pass thorough quality control, so no characteristics mismatch can escape the eye of our professionals.
  "></app-store-events>
</div>