.about {
  margin: 0px auto;
  padding: 50px;
}
.aboutContainer {
  .title {
    text-align:center;
    margin: 5% 0;
    border-bottom:2px solid #efefef;
    padding: 2% 0;
    font-size:18px;
    font-weight: bold;
  }
  .content {
    text-align: justify;
    padding: 2%;
  }
}
.eventContainer {
  display: flex;
  flex-direction: row;

}