#app-container {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.linkWrapper {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  .logo{
    display:flex;
    flex-direction: column;
    width:150px;
    height:100%;
    img{
      width: 100%;
    }
  }
  a {
    display:flex;
    flex-direction: column;
    text-transform: uppercase;
    width:150px;
    font-size:20px;
    font-weight: bold;
    padding: 14px 0;
  }
}


