<md-toolbar color="primary">
    <div class="linkWrapper">
        <a class="logo" [routerLink]='["/"]'><img src="assets/images/logo.png" alt="logo" /></a>
        <a md-button [routerLink]='["/books"]'>Books</a>
        <a md-button [routerLink]='["/about"]'>About</a>
        <a md-button [routerLink]='["/contact"]'>Contact</a>
        <app-login></app-login>
    </div>
</md-toolbar>

<div id="app-container">
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
</div>
