<div id="register-component">
  <form (submit)="registerUser()">
      <md-input-container>
        <input mdInput type="text" name="inputName" [(ngModel)]="inputName" placeholder="Username" />
      </md-input-container>
      <md-input-container>
        <input mdInput type="text" name="fullName" [(ngModel)]="fullName" placeholder="Full name" />
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" name="password" [(ngModel)]="password" placeholder="Password" />
      </md-input-container>
      <br/>
      <input md-raised-button class="regFormButton" type="submit" value="Register" />
  </form>
<!--  <div>
    <button md-raised-button class="regFormButton" (click)="resetUsers()">Reset Users</button>
  </div>-->
</div>