@regFormButtonColor: #DD2C00;

#register-component {
  width:100%;
  text-align: center;
  .regFormButton{
    display: inline-block;
    padding: 6px 8px;
    margin: 0 2% 3% 2%;
    background-color: @regFormButtonColor;
    color: white;
    border: none;
    &:hover{
      background-color: darken(@regFormButtonColor,10%);
      cursor:pointer;
    }
  }
  form{
    display:inline-block;

  }
  form > md-input-container{
    width:60%;
    font-size:14px;
    md-placeholder {
      color: white;
    }
  }

}