.notFound{
  width:40%;
  margin:5% auto;
  position:relative;
  img{
    position:absolute;
    left:0;
    top:0;
    z-index: -1;
  }
  .errorCode{
    position:absolute;
    font-family: 'High Tower Text','Times New Roman',serif;
    font-size:40px;
    top:170px;
    left:120px;
  }

  .errorText{
    position:absolute;
    font-family: 'High Tower Text','Times New Roman',serif;
    width:130px;
    font-size:28px;
    top:90px;
    left:360px;
  }
}
