<div class="notFound">
  <img src="../../assets/images/book.jpg" alt="book" />
  <span class="errorCode">404</span>

  <span class="errorText">This is not the web page you are looking for.</span>
</div>