.event {
  display:flex;
  flex-direction: column;
  width:70%;
  margin:5% auto;
  .imgContainer {
    display: block;
    text-align: center;
    img {
      text-align: center;
      width: 50%;
    }
  }
  .title {
    text-align: center;
    display: block;
    height:50px;
    margin-bottom: 30px;
  }
  .content {
    text-align: justify;
  }

}