<div class="event">
  <div class="imgContainer">
    <img src="{{image}}" alt="event_image">
  </div>
  <p class="title">{{title | uppercase}}</p>
  <div class="content">
    {{content}}
  </div>
</div>
