.searchWrapper {
  text-align: center;
  margin: 0px auto;
  padding-top: 20px;
  width: 80%;
}

md-input-container {
  width: 100%;
}

.categories-radio-group {
  display: flex;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 10px;
}

.categories-radio-button {
  margin: 5px;
  &:nth-child(1) {
    font-weight: bold;
  }
}

md-card {
  width: 80%;
  margin: 0 auto;
}

.listWrapper {
  display: flex;
  flex-wrap: wrap;
}
