<form (submit)="search(term.value)">
    <div class="searchWrapper">
        <md-input-container>
            <input #term mdInput type="text" (keyup)="search(term.value)" placeholder="Search" />
            <md-icon mdSuffix>search</md-icon>
        </md-input-container>
    </div>
</form>

<md-radio-group class="categories-radio-group" [(ngModel)]="selectedCategory" (change)="filter()">
    <md-radio-button class="categories-radio-button" [value]="all">All</md-radio-button>
    <md-radio-button class="categories-radio-button" *ngFor="let category of categories" [value]="category">
        {{category}}
    </md-radio-button>
</md-radio-group>

<md-card>
    <div class="listWrapper" *ngIf="filteredBooks?.length > 0; else emptyBookList">
        <div *ngFor="let book of filteredBooks">
            <app-book [book]="book" [average]="average"></app-book>
        </div>
    </div>
    <template #emptyBookList>
        <p>Your search did not match any books!</p>
    </template>
</md-card>
