<md-card [@slideInDownAnimation]="true">
  <div class="book-data">
    <img src="assets/images/defbookcover.jpg" class="md-card-image" alt="image caption">
    <md-card-content>
      <md-card-title>{{book?.title}}</md-card-title>
      <md-card-subtitle>{{book?.author}}</md-card-subtitle>
      <p>Category: {{book?.category}}</p>
      <p>Original price: {{book?.price | currency : 'USD' : true}}</p>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button class="addToCartButton" *ngIf="authService.isLoggedIn()" (click)="cartService.addItem(book)">Add to cart</button>
    </md-card-actions>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis massa a vestibulum faucibus. Sed suscipit euismod tristique. Aliquam tincidunt arcu non viverra efficitur. Vivamus bibendum pellentesque auctor. Phasellus dictum at massa ut fringilla. Integer nec fermentum nisi, at varius nisi. Morbi scelerisque quam hendrerit tellus rutrum, pharetra porta turpis viverra. Cras blandit quis ligula dictum blandit. Morbi bibendum lacinia felis, eu hendrerit leo mollis quis. Nullam facilisis, mi in faucibus pulvinar, sapien tortor ullamcorper nisl, id scelerisque augue ipsum et urna.
    </p>
  </div>
  <md-card-actions>
    <button md-raised-button class="gotoBooksButton" (click)="gotoBooks()">Back</button>
  </md-card-actions>
</md-card>