md-card {
  margin: 20px;
}

.md-card-image {
  width: 100px;
  height: 150px
}

.book-data {
  display: flex;
}

md-card-content {
  margin: auto;
}

.addToCartButton {
  background-color: #3f51b5;
  padding: 5px;
  color: white;
  border: none;
  &:hover {
    background-color: darken(#3f51b5, 10%);
    cursor: pointer;
  }
}

.gotoBooksButton {
  background-color: #808080;
  padding: 5px;
  color: white;
  border: none;
  &:hover {
    background-color: darken(#707070, 10%);
    cursor: pointer;
  }
}